.page {
  background-color: #fcf5e5;
  font-family: Poppins, Arial, helvetica, sans-serif;
}
.page__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__section {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 0 20px;
}

@media screen and (max-width: 450px) {
  .page__section {
    padding: 0;
  }
}
